bower_components
node_modules
package-lock.json
coverage
analysis.json
vaadin-details.js
vaadin-details.d.ts
vaadin-details.d.ts.map
vaadin-details.js.map
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map
/theme/**/*.js
/theme/**/*.js.map
/theme/**/*.d.ts
/theme/**/*.d.ts.map
/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
/test/**/*.d.ts.map
/dist
entrypoint.hashmanifest.json
