{
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "moduleName": "@vaadin/vaadin-themable-mixin",
        "importName": "css",
        "strict": true
      }
    ]
  ],
  "extends": [
    "stylelint-config-vaadin",
    "stylelint-config-styled-components"
  ]
}
